<p class="nameuser">
    <%= @profile.f_name %>
  </p>
   <%= link_to image_tag(ProfilePic.find(@profile.id).image_url(:thumb).to_s, :class => 'dashpost_profilepiclist'), profile_path(id: @profile.id)  %>
  <%= form_for(current_user.relationships.find_by(followed_id: @profile),
               html: { method: :delete }, remote: true) do |f| %>
      <%= f.submit "Unfollow", :class => "follow_userlist btn btn-large" %>
<% end %>
