<%= div_for comment, data: {id: comment.id} do %>
    <% Post.all.each do |f| %>
        <% if comment.post_id == f.id %>
            <% ProfilePic.all.each do |cmtpict| %>
                <% if comment.profile_id == cmtpict.id && !cmtpict.image.blank? %>
                    <li class="comment_image">
                      <%= link_to image_tag(cmtpict.image_url(:thumb).to_s, :class => "comment_profilepic"), profile_path(id: comment.profile_id)  %>
                    </li>
                <% end %>
            <% end %>
            <li class="cmtpostdisplay">
              <%= comment.cmtpost %>
            </li>

            <li class="comment_created_time">
              <span class="fui-time comment_time"></span>
              <%= time_ago_in_words(comment.created_at) %> ago via

            </li>

        <% end %>
    <% end %>
<% end %>