<%= div_for comment, data: {id: comment.id} do %>
    <% Post.all.each do |f| %>
        <% if comment.post_id == f.id %>
            <% ProfilePic.all.each do |cmtpict| %>
                <% if comment.profile_id == cmtpict.id && !cmtpict.image.blank? %>
                    <li class="comment_image">
                      <%= image_tag cmtpict.image_url(:thumb).to_s, :class => "comment_profilepic" %>
                    </li>
                <% end %>
            <% end %>
            <li>
              <%= comment.cmtpost %>
            </li>

            <li class="comment_created_time">
              <%= time_ago_in_words(comment.created_at) %> ago
            </li>

        <% end %>
    <% end %>
<% end %>