<%# binding.pry %>

<%#= div_for like, data: {id: like.id} do %>
    <%# Post.all.each do |f| %>
        <%# if like.post_id == f.id %>
            <%# ProfilePic.all.order('created_at DESC').each do |liekpic| %>
                <%# if liekpic.id ==  like.user_id%>
                    <!-- <li class="comment_image"> -->
                      <%#= link_to image_tag(liekpic.image_url(:thumb).to_s, :class => "comment_profilepic"), profile_path(id: like.user_id)  %>
                    <!-- </li> -->
                <%# end %>
            <%# end %>
        <%# end %>
    <%# end %>
<%# end %>

<%= div_for like , data: {id: like.id } do %>
    <% pf =  ProfilePic.find_by_profile_id(Profile.find_by_user_id(like.user_id))  %>
    <% unless pf.blank? %>
        <li class="comment_image">
            <%= link_to image_tag(pf.image_url(:thumb).to_s, :class => "comment_profilepic"), profile_path(id: like.user_id)  %>
        </li>
    <% end %>
<% end %>




