<% if @post.likes.count > 3 %>
    <script>
      $(".countdesignempty").css("display", "none");
    </script>
    <button class="countdesign btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      +<%= @post.likes.count-3 %>
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Post Likes</h4>
          </div>
          <div class="modal-body">
            <li>
              <%= render @post.likes.order('created_at DESC') %>
            </li>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <% else %>

    <%= content_tag :div, class:"countdesignempty" do %>
        <p>hi</p>
    <% end %>

<% end %>
