<h2 class="resetpassword">Reset Password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="resetfield">
    <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "resetproperty" %>
    <span class="fui-mail reset_user"></span>
  </div>

  <div class="resetbutton">
    <%= f.submit "RESET", :class => "resetbtn btn btn-small btn-primary btn-embossed mlm" %>
  </div>

<% end %>
