
<% if activity.trackable.blank? %>
	<p class="well"> 
		<span class="capitalize">
			<% if activity.owner == current_user %>
				<%= link_to "You", current_user %> &nbsp;&nbsp;
			<% else %>
				<%= link_to activity.owner.username , activity.owner %> &nbsp;&nbsp;
			<% end %>
		</span>
			Deleted the Post &nbsp;&nbsp;
			<b class="capitalize"><%= Post.find_by_id(activity.parameters[:post_id]).try(:post)  %></b>
			&nbsp;&nbsp;&nbsp; 
		<span class="activity_time"><%= time_ago_in_words(activity.created_at) %></span>
	</p>
<% end %>