/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
    font-family: 'automobi';
    src: url('AUTOMOBI.TTF');
    font-weight: normal;
    font-style: normal;
}


body.homepage {
    background: url("connect-collaborate-create.png") no-repeat 50% 0%, url("startup-social-logo.png") no-repeat 50% -73%, url("la-startup-community.png");
    font-family: 'lucida grande', sans-serif;
    margin: 0 auto;
    padding: 0;
}

h1.signin {
    font-family: 'automobi' !important;
    text-align: center;
    position: relative;
    top: 20px;
}


.signin_username {
    position: relative;
    left: 40%;
    top: 72px;
    width: 20%;
}

.signin_btn {
    position: relative;
    top: 104px;
    left: 46%;
    width: 8% !important;
    background: rgb(52, 58, 66) !important;
}

.rememberme {
    position: relative;
    top: 120px;
    left: 46%;
    color: rgb(52, 58, 67);
    font-weight: bold;
}

.icon_color {
    background: rgb(52, 58, 67) !important;
}

.username_profile_page {
    position: relative;
    left: 46%;
    top: 10px;
    font-family: automobi;
    font-size: 35px;
}

.signin_user {
    color: rgb(191, 195, 198);
    position: relative;
    left: 59%;
}

.signin_user_lock {
    color: rgb(191, 195, 198);
    position: relative;
    left: 37%;
    top: 99px;
}

.signin_password {
    position: relative;
    left: 39%;
    top: 100px;
    width: 20%;
}

body.not_homepage, body.signed_in {
    background:rgb(237, 240, 241) !important;
    margin: 0 auto;
    padding: 0;
}

header {
    background: rgb(188, 192, 196);
    height: 93px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 100%;

    position: relative;
    top: -22px;
    float: left;
    display: inline-block;
}

#headerpictitle {
    display: inline-block;
    float: right;
    text-align: right;
    position: relative;
    top: 26px;
}

h2 a {
    text-decoration: none;
}

.logo {
    position:absolute;
    left:50%;
    top:10%;

}

@media only screen and (max-width : 400px) and (max-aspect-ratio: 13/9) {
    .logo {
        position:absolute;
        left:41%;
        top:10%;
    }

    h1.signin {
        font-family: 'automobi' !important;
        font-size: 38px;
        text-align: center;
        position: relative;
        top: 20px;
    }


    .signin_username {
        width: 64% !important;
        height: 34px !important;
        position: relative;
        left: 16%;
        top: 22px;
    }

    .signin_password {
        width: 64% !important;
        height: 34px !important;
        position: relative;
        left: 16%;
        top: 13px;
    }
}


#headerpictitle img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sidebar {
    display: inline;
    width: 20px;
}

.fui-list {
    position: absolute;
    top: 32px;
    left: -15px;
}

.notification-center {
    display: none;
}

.notification-center-float {
    float: left;
}
