// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  padding-top: 28px;
  padding-bottom: 18px;
  border-bottom: 1px solid gray;
  position: relative;
}

.comment:first-child {
  border-top: 1px solid gray;
}

.comment_image {
  position: relative;
  top: -27px;
  left: 2px;
  margin-right: 30px;
}

.comment_profilepic {
  margin-right: 30px;
}

.comment_created_time {
  position: relative;
//  left: 312px;
  top: 13px;
  text-align: right;
  font-weight: normal;
  font-size: 11px;
}