// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picprofile img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  position: relative;
  left: 45%;

}

.user_title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.user_area_pic {
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 40px;
  width: 100%;
}

.location_user_area {
  float: left;
  font-size: 20px;
  width: 30px;
  color: rgb(191, 195, 198);
  position: relative;
  left: 615px;
  top: 3px;
}

.social_links {
  position: relative;
  left: 41%;
  top: -25px;
  margin-right: 20px;
}

.social_link_spacing {
  margin-right: 40px;
}

.user_area {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  top: -5px;
}

.label_field {
  text-align: right;
  position: relative;
  right: 54%;
  cursor: default;
  color: rgb(146, 148, 149);
}
.content_field {
  position: relative;
  left: 48%;
  position: relative;
  top: -47px;
  margin-bottom: -14px !important;
}

.msguser_hide {
  visibility: hidden;
}

.messageuser {
  width: 7% !important;
  position: relative;
  top: 429px;
  left: 47%;
  background: rgb(71, 75, 84) !important;
}

.follow_user {
  position: relative;
  top: -3px;
  left: 45%;
  width: 10% !important;
  background: rgb(0, 0, 0) !important;

}

#dash_profile_page {
  position: relative;
  top: 51px;
  left: -9px;
}

.profile_info {
  position: relative;
  top: -54px;
}

.profile_submit {
  position: relative;
  left: 50%;
  width: 9% !important;
}

.btn.btn-primary.profile_submit {
  background-color: rgb(71, 75, 84);
}

.picture_field {
  position: relative;
  left: 42%;
}

.welcome_profile {
  position: relative;
  left: 41%;
  color: rgb(146, 148, 149);
}

.profilepic_upload {
  position: relative;
  pointer-events: none;
  z-index: 1;
  left: 44%;
  top: -41px;
  background-color: rgb(71, 75, 84) !important;
}

#post_container_profile {
  position: relative;
  top: -51px;
  left: -18px;
}

#post_container_profile .container {
  list-style: none;
  width: 550px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-bottom: 125px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 2px;

}

@media only screen and (max-width : 400px) and (max-aspect-ratio: 13/9) {

  #post_container_profile {
    position: relative;
    top: -51px;
    left: -13px;
  }

  .picprofile img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    position: relative;
    left: 28%;

  }

  #post_container_profile .container {
    width: 100%;
  }

  .location_user_area {
    float: left;
    font-size: 20px;
    width: 30px;
    color: rgb(191, 195, 198);
    position: relative;
    left: 52px;
    top: 3px;
  }


  .social_links {
    position: relative;
    left: 0%;
    top: -25px;
    margin: 0 auto;
  }

  .social_link_spacing {
    margin-right: 40px;
    position: relative;
    left: 38px;
  }

}
//
//@media only screen and (min-width : 400px)  {
//
////  #post_container_profile .container {
////    width: 100%;
////  }
////
////  #post_container_profile {
////    width: 95%;
////    //    top: 90px;
////  }
////
////  .post_field {
////    width: 82% !important;
////    height: 75px;
////    position: relative;
////    left: 9%;
////  }
//
//  //  .comment_splash.btn.btn-primary {
//  //    background: #34495e;
//  //    position: relative;
//  //    top: 24px;
//  //    left: 45%;
//  //    height: 36px;
//  //    width: 95px;
//  //  }
//  //
//  //  .comment_field {
//  //    position: relative;
//  //    left: -18px;
//  //    top: 16px;
//  //    width: 76%;
//  //    height: 36px;
//  //  }
//}
