// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picprofile img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  position: relative;
  left: 45%;

}

.user_title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

.user_area_pic {
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 40px;
  width: 100%;
}

.location_user_area {
  float: left;
  font-size: 20px;
  width: 30px;
  color: rgb(191, 195, 198);
  position: relative;
  left: 615px;
  top: 3px;
}

.social_links {
  display: table;
  position: relative;
  margin: 0 auto;
}

.social_link_spacing {
  margin-right: 40px;
}

.user_area {
  margin: 0 auto;
  width: 15%;
  text-align: center;
  top: -5px;
}

.defaultnew {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  left: 21%;
  top: -37px;
}

.label_field {
  text-align: right;
  position: relative;
  right: 54%;
  cursor: default;
  color: rgb(146, 148, 149);
}
.content_field {
  position: relative;
  top: 40px;
//  margin-bottom: -14px !important;
}

.msguser_hide {
  visibility: hidden;
}

.messageuser {
  width: 7% !important;
  position: relative;
  top: 429px;
  left: 47%;
  background: rgb(71, 75, 84) !important;
}

.follow_user {
  position: relative;
  top: -3px;
  left: 45%;
  width: 107px !important;
  background: rgb(0, 0, 0) !important;

}

.follow_userlist {
  position: relative;
  top: 12px;
  left: 6px;
  width: 107px !important;
  background: rgb(0, 0, 0) !important;

}

#dash_profile_page {
  position: relative;
  top: 116px;
}

.profile_info {
  position: relative;
  top: 10px;
}

.profile_submit {
  position: relative;
  width: 70% !important;
  top: 69px;
}

.btn.btn-primary.profile_submit {
  background-color: rgb(71, 75, 84);
}

.picture_field {
  position: relative;
  top: 25px;
}

#profilepicupload {
  position: relative;
  left: 5%;
}

.welcome_profile {
  position: relative;
  color: rgb(0,0,0);
  font-family: automobi;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;

  p {
    font-size: 32px !important;
  }
}

.field {
  margin-bottom: 20px;
}

.profilepic_upload {
  position: relative;
  pointer-events: none;
  z-index: 1;
  left: -43%;
  top: 76px;
  background-color: rgb(71, 75, 84) !important;
}

#post_container_profile {
  position: relative;
  top: -51px;
  left: -18px;
}

#post_container_profile .container {
  list-style: none;
  width: 550px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-bottom: 125px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 2px;

}

#profilecreate {
  display: table;
  margin: 0 auto;
  text-align: center;
}

#usersfollowlist {
  margin: 0 auto;
  width: 55%;
}

.nameuser {
  margin:0 auto;
  text-align: center;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profilefloat {
  display: inline-block;
  margin-right: 100px;
  position: relative;
  left: 17%;
  width: 110px;
}

.imgarea {
  display: inherit;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 75px;
  margin-bottom: 120px;
}

.techclick {
  color: rgb(12, 25, 41);
}

.locationname {
  font-family: automobi;
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: normal;
}

#updatefollowfollowing, #updatefollowfollowingcount {
  margin: 0 auto;
  text-align: center;
  display: table;
}

#techskillset, #businessskillset {
  display: none;
}

#designskillset, #techskillset, #businessskillset {
  position: relative;
  top: 47px;
}

.designskill  {
  position: relative !important;
  top: -24px !important;
  left: 116px;
}

.designusersskills {
  position: relative;
  top: 21px;
  left: 214px;

}

.techskill {
  position: relative ;
  top: -24px !important;
  left: 34%;
  margin: 0 auto;
  text-align: center;
}

.businessuserskills {
  position: relative;
  left: 73%;
  top: 21px;
}

.personalprofileinfofollowing {
  margin-right: 50px;
  margin-left: 50px;
}

.techusersskills {
  position: relative;
  top: 27px;
  left: 383px;
  display: table;
}

.textprofileupdate {
  display: inline-block;
  position: relative;
  &.updates {
    left: -17%;
  }
  &.followers {
    left: 19%;
  }
}

.skillspagesearch {
  display: inline-block;
  position: relative;
  left: 34.5%;
  margin-bottom: 50px;
}

.skillspagesearchtech {
  display: inline-block;
  position: relative;
  left: 23%;
}

.leftarrowtech {
  position: relative;
  top: 39px;
  left: 33%;
}

.rightarrowdesign {
  position: relative;
  top: 37px;
  left: 119.5%;
}

.rightarrowtech {
  position: relative;
  top: 37px;
  left: 81%;
}

.leftarrowbusiness {
  position: relative;
  top: 39px;
  left: 13px;
}

.personalprofileinfo {
  margin-right: 20px;
}

#followeduserlisting, #followinguserlisting {
  display: none;
  width: 57%;
  left: 22%;
  position: relative;
}

.personalprofileinfoupdatescount {
  display: inline-block;

  &.updates {
    position: relative;
    left: -3%;
    top: 25px;
  }

  &.followers {
    position: relative;
    left: 85px;
    top: 25px;
  }

  &.followed {
    position: relative;
    left: 18%;
    top: 25px;
  }

}

.editprofiletext {
  position: relative;
  display: inline;
  left: 55.5%;
  top: -100px;
}

.usersfollowlist {
  &.profilepagelist {
    margin-top: 40px;
  }
}

@media only screen and (max-width : 400px) and (max-aspect-ratio: 13/9) {

  #post_container_profile {
    position: relative;
    top: -51px;
    left: -13px;
  }

  .picprofile img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    position: relative;
    left: 28%;

  }

  .follow_user {
    position: relative;
    top: -3px;
    left: 26%;
    width: 48% !important;
    background: rgb(0, 0, 0) !important;

  }

  #post_container_profile .container {
    width: 100%;
  }

  .location_user_area {
    float: left;
    font-size: 20px;
    width: 30px;
    color: rgb(191, 195, 198);
    position: relative;
    left: 52px;
    top: 3px;
  }


  .social_links {
    position: relative;
    display: inline-block;
    left: 0%;
    top: -3px;
    margin: 0 auto;
  }

  .social_link_spacing {
    margin-right: 20px;
    position: relative;
    left: 17px;

  }

  .social_link_spacing img {
    height: 40px !important;
    width: 40px !important;
  }

}
//
//@media only screen and (min-width : 400px)  {
//
////  #post_container_profile .container {
////    width: 100%;
////  }
////
////  #post_container_profile {
////    width: 95%;
////    //    top: 90px;
////  }
////
////  .post_field {
////    width: 82% !important;
////    height: 75px;
////    position: relative;
////    left: 9%;
////  }
//
//  //  .comment_splash.btn.btn-primary {
//  //    background: #34495e;
//  //    position: relative;
//  //    top: 24px;
//  //    left: 45%;
//  //    height: 36px;
//  //    width: 95px;
//  //  }
//  //
//  //  .comment_field {
//  //    position: relative;
//  //    left: -18px;
//  //    top: 16px;
//  //    width: 76%;
//  //    height: 36px;
//  //  }
//}
