// Place all the styles related to the splashScreen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  .inner_welcome p {
     font-weight: bold;
  }
}

.post_field {
  width: 77%;
  position: relative;
  left: 9%;
}

#headerpic {
  position: absolute;
  left: 48%;
  z-index: 1;
}

.requestbutton {
  background: rgb(0,0,0) !important;
  position: relative;
  height: 49px;
  left: -35px;
  top: 15px;
  width: 19% !important;
}

#dashboard-post {
  background: white;
  width: 550px;
  height: 200px;
  //margin-left: 32%;
  //position: absolute;
  //left: 50%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  top: 230px;
  margin-bottom: 93px;
}

#dash_content {
  position: relative;
  top: 190px;
}

.homepage.signin_btn {
  position: relative;
  left: -4px;
  top: 40px;
  height: 28px;
  font-size: 17px;
  width: 17% !important;
  background: rgb(0,0,0) !important;
  margin-bottom: 20px;
}

.signinpage_name {
  margin-bottom: 20px !important;
}

.accountexist {
  color: white;
  font-weight: normal !important;
  position: relative !important;
  top: 20px !important;
}

.name_position {
  position: relative;
  left: 4%;
  text-align: center;
  top: -85px;
  font-size: 17px;
}

.dashboard-post_containter{
  position: relative;
  top: 45px;

}

@media only screen and (max-width : 400px) and (max-aspect-ratio: 13/9) {

  html, body {
      -moz-background-size: 80% auto;
      -webkit-background-size: 80% auto;
      background-size: 80% auto;
  }


  .signinpage_name, .signinpage_email {
    width: 78% !important;
  }


  .requestbutton {
    background: rgb(0,0,0) !important;
    position: relative;
    height: 49px;
    left: -7px;
    top: 15px;
    width: 78% !important;
  }

  .homepage.signin_btn {
    position: relative;
    left: -4px;
    top: 40px;
    height: 28px;
    font-size: 17px;
    width: 69% !important;
    background: rgb(0,0,0) !important;
    margin-bottom: 20px;
  }


  #dashboard-post {
    width: 95%;
    top: 90px;
  }
  .post_field {
    width: 220px;
    height: 75px;
  }
  .post_field:focus {
    width: 220px;
    height: 75px;
  }

  #dash_content {
    position: relative;
    top: 50px;
  }
}

#headerpic img {
  width: 60px;
  height: 60px;
  //position: absolute;
  //left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.img_up {
  //display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 0;
}

.camera-image {
  position: relative;
  left: -30px;
  pointer-events: none;
  z-index: 1;
  width: 71px;
  top: -14px;
}

input[type="file"] {
  height: 50px;
  width: 57px;
}

.post_splash.btn.btn-primary {
  background: #34495e;
  position: relative;
  top: -61px;
  left: 73%;
  height: 36px;
  width: 95px;

}

.comment_splash.btn.btn-primary {
  background: #34495e;
  position: relative;
  top: 24px;
  left: 340px;
  height: 36px;
  width: 95px;
}

#post_container {
  position: relative;
  top: 60px;
  right: 12px;
}

#post_container .container {
  list-style: none;
  width: 550px;
  margin: 0 auto;
  //height: 100px;
  background: white;
  border-radius: 10px;
  margin-bottom: 125px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 2px;

}


.dashpost_profilepic {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  left: 46%;
  top: -73px;
}



.dashpost_time {
  position: relative;
  top: -69px;
  left: 41%;
}


.cross {
  position: absolute;
  top: -73px;
  left: 100%;
}

.container_text {
  padding-left: 50px;
  padding-right: 50px;
}

.comment_field {
  position: relative;
  left: -18px;
  top: 16px;
  width: 339px;
  height: 36px;
}


.comment_profilepic {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: relative;
  top: 12px;
  float: left;
}

.container_content {
  position: relative;
  top: -45px;
  left: 5%;
}

.dashpost_commentpic {
//  width: 400px;
//  height: 400px;
  position: relative;
  left: -5%;
}

.signup_form {
  position: absolute;
  top: 377px;
  left: 38%;
}

.signupname {
  width: 162%;
}

.mergeRow {
  margin-bottom: 20px;
}

.btn.btn-primary.smtbtn {
  width: 164%;
  background: #000;
  font-size: 16px;
}

#skill_section{
  position:absolute;
  left: 32%;
  top: 74px;
}

.skill_text{
  display: inline-block;
}

.skill_img{
  position: relative;
  top: 76px;
  left: -113px;
  margin-right: -33px;
}

@media only screen and (max-width : 380px) and (max-aspect-ratio: 13/9) {
  #post_container .container {
    width: 100%;
  }
  .post_field {
    width: 82%;
    height: 75px;
    position: relative;
    left: 9%;
  }

  .skill_text{
    display: inline-block;
    font-size: 12px;
    position: relative;
    top: 31px;
    left: -7px;
  }

  #skill_section{
    position:relative;
    left: 11%;
    top: -42px;
  }

  .camera-image {
    position: relative;
    left: -45px;
    pointer-events: none;
    z-index: 1;
    width: 60px;
    top: -9px;
  }

  .skill_img{
    width: 23%;
    position: relative;
    left: -23%
  }

  .post_splash.btn.btn-primary {
    background: #34495e;
    position: relative;
    top: -50px;
    left: 65%;
    height: 32px;
    width: 79px;
  }
  #headerpic {
    position: absolute;
    left: 41%;
    z-index: 1;
  }

  .dashpost_profilepic {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    left: 38%;
    top: -74px;
  }

  .dashpost_time {
    position: relative;
    top: -69px;
    left: 30%;
  }

  .container_text {
    padding-left: 30px;
    padding-right: 30px;
  }
  .comment_field {
    position: relative;
    left: 61px;
    top: -26px;
    width: 169px;
  }


  .comment_profilepic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    top: 19px;
    left: 6px;
    float: left;
  }

  .comment_splash.btn.btn-primary {
    background: #34495e;
    position: relative;
    top: -21px;
    left: 66%;
  }
  .form_post {
    height: 88px;
  }
  .container_content {
    position: relative;
    top: -45px;
    left: 0%;
  }

  .dashpost_commentpic {
    width: 250px;
    height: 250px;
  }
}

.btn.btn-large {
  padding: 6px 19px 14px;
}


.cross .close {
  font-size: 16px;
}

//.field-group {
//  width: 350px;
//  height: 27px;
//}