// Place all the styles related to the splashScreen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  .inner_welcome p {
//     font-weight: bold;
  }
}

.post_field {
  width: 77%;
  position: relative;
  left: 9%;
}

#headerpic {
  position: absolute;
  left: 48%;
  z-index: 1;
}

.profileedit {
  position: relative;
  display: inline-block;
  left: 60%;
  top: -162px;
  float: left;
}

.orcls {
  position: relative;
  top: 33px;
  color: white;
  font-weight: normal !important;
}

.angelmargin {
  position: relative;
  top: 53px;
}

.requestbutton {
  background: rgb(0,0,0) !important;
  position: relative;
  height: 49px;
  left: -35px;
  top: 15px;
  width: 19% !important;
}

.textinline {
  display: block;
  position: relative;
  top: 20px;
}

.topofpage {
  position: relative;
  margin:0 auto;
  text-align: center;
  top: 155px;
}

#dashboard-post {
  background: white;
  width: 550px;
  height: 200px;
  //margin-left: 32%;
  //position: absolute;
  //left: 50%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  top: 80px;
  margin-bottom: 93px;
}

#dash_content {
  position: relative;
  top: 60px;
}

.homepage.signin_btn {
  position: relative;
  left: -4px;
  top: 40px;
  padding-top: 11px;
  height: 26px;
  font-size: 17px;
  width: 284px !important;
  background: rgb(0,0,0) !important;
  margin-bottom: 20px;
}


.signinpage_name {
  margin-bottom: 20px !important;
}

.accountexist {
  color: white;
  font-weight: normal !important;
  position: relative !important;
  top: 20px !important;
}

.name_position {
  position: relative;
  text-align: center;
  top: -85px;
  font-size: 25px;
}

.dashboard-post_containter{
  position: relative;
  top: 45px;

}

#imagesheader {
  position: relative;
  left: -5px;
  top: 4px;
}

@media only screen and (max-width : 400px) and (max-aspect-ratio: 13/9) {

  html, body {
      -moz-background-size: 80% auto;
      -webkit-background-size: 80% auto;
      background-size: 80% auto;
  }

  .profileedit {
    position: relative;
    display: inline-block;
    left: 72%;
    top: -162px;
    float: left;
  }

  #imagesheader {
    position: relative;
    left: 0px;
  }



  .signinpage_name, .signinpage_email {
    width: 78% !important;
  }


  .name_position {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    top: -85px;
    font-size: 22px;
    position: relative;
  }


  .requestbutton {
    background: rgb(0,0,0) !important;
    position: relative;
    height: 49px;
    left: -7px;
    top: 15px;
    width: 78% !important;
  }

  .homepage.signin_btn {
    position: relative;
    left: -4px;
    top: 40px;
    height: 28px;
    font-size: 17px;
    width: 69% !important;
    background: rgb(0,0,0) !important;
    margin-bottom: 20px;
  }


  #dashboard-post {
    width: 95%;
    top: 90px;
  }
  .post_field {
    width: 220px;
    height: 75px;
  }
  .post_field:focus {
    width: 220px;
    height: 75px;
  }

  #dash_content {
    position: relative;
    top: 50px;
  }
}

#headerpic img {
  width: 60px;
  height: 60px;
  //position: absolute;
  //left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.img_up {
  //display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 0;
}

.camera-image {
  position: relative;
  left: -30px;
  pointer-events: none;
  z-index: 1;
  width: 71px;
  top: -14px;
}

input[type="file"] {
  height: 50px;
  width: 57px;
}

.file1 {
  height: 50px !important;
  width: 75px !important;
  position: relative;
  left: -15%;
  top: 73px;
}

.post_splash.btn.btn-primary {
  background: #34495e;
  position: relative;
  top: -61px;
  left: 73%;
  height: 36px;
  width: 95px;

}

.comment_splash.btn.btn-primary {
  background: #34495e;
  position: relative;
  top: 24px;
  left: 340px;
  height: 36px;
  width: 95px;
}

#post_container {
  position: relative;
  top: 60px;
  right: 12px;
}

#post_container .container {
  list-style: none;
  width: 550px;
  margin: 0 auto;
  //height: 100px;
  background: white;
  border-radius: 10px;
  margin-bottom: 125px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 2px;

}


.dashpost_profilepic {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
  left: 42%;
  top: -73px;
}

.dashpost_profilepiclist {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative !important;
  left: 12px;
}



.dashpost_time {
  position: relative;
  top: -69px;
  margin: 0 auto;
  text-align: center;
  width: 32%;
}


.cross {
  position: absolute;
  top: -73px;
  left: 100%;
}

.container_text {
  padding-left: 50px;
  padding-right: 50px;
}

.comment_field {
  position: relative;
  left: -18px;
  top: 16px;
  width: 339px;
  height: 36px;
}


.comment_profilepic {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: relative;
  top: 12px;
  float: left;
}

.container_content {
  position: relative;
  top: -45px;
  left: 5%;
}

.dashpost_commentpic {
//  width: 400px;
//  height: 400px;
  position: relative;
  left: -4%;
}

.signup_form {
  position: absolute;
  top: 377px;
  left: 38%;
}

.signupname {
  width: 162%;
}

.mergeRow {
  margin-bottom: 20px;
}

.btn.btn-primary.smtbtn {
  width: 164%;
  background: #000;
  font-size: 16px;
}

#skill_section{
//  position:absolute;
//  left: 32%;
//  top: 10px;
  display: table;
  margin: 0 auto;
  text-align: center;
}

.skill_text{
  display: inline;
  position: relative;
  top: 40px;
}

.design {
  position: relative;
  left: -50px;
}

.business {
  position: relative;
  left: 65px;
}
//
.technology {
  margin-right: 70px;
  margin-left: 70px;
}

.skill_img {
  position: relative;
  top: 45px;
}

.signin_btn.signup_btn {
  position: relative;
  top: 15px;
}

#skillcount {
  display: table;
  position: relative;
  top: 45px;
  left: 74px;
}

#skillcount p {
  float: left;
}

#skillcount .designusers {
  margin-right: 202px;
}

#skillcount .techusers {
  margin-right: 210px;
}

@media only screen and (max-width : 600px) and  (min-aspect-ratio: 13/9) {

  #post_container .container {
    width: 100%;
  }

  #dashboard-post {
    width: 95%;
//    top: 90px;
  }

  .profileedit {
    position: relative;
    display: inline-block;
    left: 76%;
    top: -162px;
  }

  .technology {
    margin-left: 0;
    margin-right: 0;
  }

  .follow_user {
    position: relative;
    top: -3px;
    left: 28%;
    width: 34% !important;
    background: rgb(0, 0, 0) !important;

  }

  .picprofile img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    position: relative;
    left: 39%;

  }

  .social_links {
    position: relative;
    left: 0%;
  }

  .social_link_spacing {
    position: relative;
    left: 29%;
  }

  .view_all_comments {
    width: 97%;
  }

  .location_user_area {
    float: left;
    font-size: 20px;
    width: 30px;
    color: rgb(191, 195, 198);
    position: relative;
    left: 28%;
    top: 3px;
  }

    #post_container_profile .container {
      width: 100%;
    }

    #post_container_profile {
      width: 95%;
      //    top: 90px;
    }

  .post_field {
    width: 82% !important;
    height: 75px;
    position: relative;
    left: 9%;
  }


  #skill_section{
//    position:absolute;
//    top: 10px;
//    left: 0%;
//    width: 100%;
  }

  .skill_text{
    font-size: 12px;
    position: relative;
    top: 40px;
    margin: 0 auto;
    text-align: center;
  }

//  .skill_img{
//    width: 24%;
//    position: relative;
//    left: 0%
//  }

  .comment_splash.btn.btn-primary {
    background: #34495e;
    position: relative;
    top: 24px;
    left: 45%;
    height: 36px;
    width: 95px;
  }

  .comment_field {
    position: relative;
    left: -18px;
    top: 16px;
    width: 76%;
    height: 36px;
  }
}

.signup {
  margin-bottom: 31px !important;
  position: relative;
  top: 0;
}

@media only screen and (max-width : 380px) and (max-aspect-ratio: 13/9) {
  #post_container .container {
    width: 100%;
  }
  .post_field {
    width: 82% !important;
    height: 75px;
    position: relative;
    left: 9%;
  }

  .notifications {
    display: inline-block;
    position: relative;
    left: -12%;
    top: 16px;
  }

  .msgs {
    display: inline-block;
    position: relative;
    left: -12%;
    top: 15px;
  }

  .settingsheader {
    display: inline-block;
    position: relative;
    left: 3%;
    top: 14px;
  }


  .signup {
    margin-bottom: 22px !important;
  }

  .signin_btn.signup_btn {
    position: relative;
    top: -2px;
    left: 26%;
    width: 38% !important;
  }

  .dashpost_commentpic {
    //  width: 400px;
    //  height: 400px;
    position: relative;
    left: 0%;
  }

  #bgimg {
    width: 125px;
  }

  .skill_text{
//    display: inline-block;
    font-size: 17px;
//    position: relative;
//    top: -27px;
//    left: 12px;
  }

  .technology {
    margin-left: -23px;
    margin-right: -23px;
  }

  .skill_img {
    height: 115px;
  }

  .design_mobile {
    position: relative;
    left: -41px;
  }

  .business_mobile {
    position: relative;
    left: 29px;
  }

  .design {
    position: relative;
    left: -66px;
  }

  .business {
    position: relative;
    left: 62px;
  }

  #skill_section{
    position:relative;
//    left: 6%;
    top: 17px;
//    text-align: center;
//    width: 94%;
  }

  .camera-image {
    position: relative;
    left: -45px;
    pointer-events: none;
    z-index: 1;
    width: 60px;
    top: -9px;
  }

//  .skill_img{
//    width: 23%;
//    position: relative;
//    left: -19%
//  }

  .post_splash.btn.btn-primary {
    background: #34495e;
    position: relative;
    top: -50px;
    left: 65%;
    height: 32px;
    width: 79px;
  }
  #headerpic {
    position: absolute;
    left: 41%;
    z-index: 1;
  }

  .dashpost_profilepic {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    left: 36%;
    top: -74px;
  }

  .dashpost_time {
    position: relative;
    top: -62px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }

  .container_text {
    padding-left: 30px;
    padding-right: 30px;
  }
  .comment_field {
    position: relative;
    left: -4px;
    top: 12px;
    width: 70%;
  }


  .comment_profilepic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    top: 19px;
    left: 6px;
    float: left;
  }

  .comment_splash.btn.btn-primary {
    background: #34495e;
    position: relative;
    top: 19px;
    left: 63%;
  }
  .form_post {
    height: 88px;
  }
  .container_content {
    position: relative;
    top: -45px;
    left: 0%;
  }
}

.btn.btn-large {
  padding: 6px 19px 14px;
}


.cross .close {
  font-size: 16px;
}

//.field-group {
//  width: 350px;
//  height: 27px;
//}