<h1>My Activities</h1>
<% @activities.each do |activity| %>

   <%if activity.trackable_type == "Relationship" && activity.trackable.followed_id == current_user.id %>
    <%= Profile.where("profiles.id" => activity.trackable.follower_id)[0].f_name %>  is now following You
   <% end %>

    <%if activity.trackable_type == "Relationship" && activity.trackable.follower_id == current_user.id %>
        You are now following <%=  Profile.where("profiles.id" => activity.trackable.followed_id)[0].f_name %>
    <% end %>

    <%if activity.trackable_type == "Comment" %>

     <%= link_to Profile.where("profiles.id" => activity.owner.id)[0].f_name if activity.owner %>
        added a comment to your Post
    <% end %>

<% end %>